# ================================================================
#  COWRIE CONFIG — SSH/Telnet honeypot
#  v2 - optimized for AI dataset
#  PFE 2025 — Mohamed Bouzira & Bakhti Rayane Abderaouef
# ================================================================

[honeypot]
hostname             = home-gateway
sensor_name          = pfe-iot-honeypot
listen_endpoints     = tcp:2222:interface=0.0.0.0
ssh_banner           = SSH-2.0-OpenSSH_7.4
filesystem           = /home/cowrie/cowrie/src/cowrie/data/fs.pickle
arch                 = linux-arm
kernel_version       = 4.19.66
kernel_build_string  = #1 SMP
hardware_platform    = armv7l
operating_system     = GNU/Linux
auth_class           = UserDB
auth_class_parameters = /home/cowrie/cowrie/etc/userdb.txt
auth_attempts        = 3
download_path        = ${honeypot:state_path}/downloads
download_limit_size  = 10485760
ttylog               = true
ttylog_path          = ${honeypot:state_path}/tty
interactive_timeout  = 180

[ssh]
enabled  = true
backend  = shell

[telnet]
enabled          = true
backend          = shell
listen_endpoints = tcp:2323:interface=0.0.0.0

# ── OUTPUT: JSON only — structured for AI training ──
[output_jsonlog]
enabled = true
logfile = /var/log/cowrie/cowrie.json

# ── OUTPUT: disable plain text — saves disk space ──
[output_textlog]
enabled = false

[shell]
filesystem = /home/cowrie/cowrie/src/cowrie/data/fs.pickle